<div fxLayout="row" fxLayoutAlign="center">
  <div fxLayout="column" style="width: 80%;" class="full-width">
    <form class="mt-60" #buscaForm="ngForm" (ngSubmit)="pesquisarClientes()">
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title>Consulta de Clientes</mat-card-title>
        </mat-card-header>
        <mat-card-content class="mt-20">
          <div fxLayout="row">
            <div fxLayout="column" class="full-width">
              <mat-form-field appearance="fill">
                <mat-label>Pesquisar</mat-label>
                <input matInput name="filter" [(ngModel)]="filter" placeholder="Ex: josé" #input>
                <!-- <input matInput (keyup)="applyFilter($event)" placeholder="Ex: josé" #input> -->
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button color="primary" type="submit">
            <mat-icon fontIcon="search"></mat-icon>
            Buscar
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>

<div fxLayout="row" fxLayoutAlign="center" class="mt-20 mb-40">
  <div fxLayout="column">
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title>Resultado</mat-card-title>
        </mat-card-header>
        <mat-card-content class="mt-20">
          <div fxLayout="row">
            <div fxLayout="column" class="full-width">
              <table mat-table [dataSource]="clientes" class="mat-elevation-z8">

                <ng-container matColumnDef="urlImage">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let cliente">
                    <img *ngIf="cliente.urlImage" [src]="cliente.urlImage" alt="{{ cliente.nome }}" class="cliente-foto">
                  </td>
                </ng-container>

                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef>ID</th>
                  <td mat-cell *matCellDef="let cliente">{{ cliente.id }}</td>
                </ng-container>

                <ng-container matColumnDef="nome">
                  <th mat-header-cell *matHeaderCellDef>Nome</th>
                  <td mat-cell *matCellDef="let cliente">{{ cliente.nome }}</td>
                </ng-container>

                <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef>Email</th>
                  <td mat-cell *matCellDef="let cliente">{{ cliente.email }}</td>
                </ng-container>

                <ng-container matColumnDef="cpf">
                  <th mat-header-cell *matHeaderCellDef>CPF</th>
                  <td mat-cell *matCellDef="let cliente">{{ cliente.cpf }}</td>
                </ng-container>

                <ng-container matColumnDef="dataNascimento">
                  <th mat-header-cell *matHeaderCellDef>Data de Nascimento</th>
                  <td mat-cell *matCellDef="let cliente">{{ cliente.dataNascimento }}</td>
                </ng-container>

                <ng-container matColumnDef="acoes">
                  <th mat-header-cell *matHeaderCellDef>Ações</th>
                  <td mat-cell *matCellDef="let cliente">
                    <button mat-icon-button color="primary" (click)="prepararEditar(cliente.id)">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                  <!-- Row shown when there is no matching data. -->
                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                  </tr>

              </table>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
  </div>
</div>
