<div fxLayout="row" fxLayoutAlign="center">
  <div fxLayout="column" fxFlex="900px">
    <form class="mt-60" #clientesFrm="ngForm" (ngSubmit)="salvar()">
        <mat-card class="mat-elevation-z8">
          <mat-card-header>
            <mat-card-title>Dados Pessoais</mat-card-title>
          </mat-card-header>
          <mat-card-content class="mt-20">

            <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
              <div fxLayout="column" fxFlex="800px">
                <mat-form-field class="full-width">
                  <mat-label>Nome:</mat-label>
                  <input type="text"
                        [(ngModel)]="cliente.nome"
                        name="nome"
                        required
                        matInput
                        placeholder="Ex. José da Silva">
                </mat-form-field>
              </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
              <div fxLayout="column" fxFlex="800px">
                <mat-form-field class="full-width">
                  <mat-label>Email:</mat-label>
                  <input
                    type="email"
                    matInput
                    placeholder="Ex. pat@example.com"
                    [(ngModel)]="cliente.email"
                    name="email"
                    required
                  >
                </mat-form-field>
              </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
              <div fxLayout="column" fxFlex="400px">
                <mat-form-field class="full-width">
                  <mat-label>CPF:</mat-label>
                  <input
                    type="text"
                    matInput
                    placeholder="Ex. 000.000.000-00"
                    [(ngModel)]="cliente.cpf"
                    name="cpf"
                    required
                    title="Formato: 000.000.000-00"
                    mask="000.000.000-00"
                  >
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
              <div fxLayout="column" fxFlex="400px">
                <mat-form-field class="full-width">
                  <mat-label>Data Nascimento:</mat-label>
                  <input
                    matInput
                    [matDatepicker]="picker"
                    [(ngModel)]="cliente.dataNascimento"
                    name="dataNascimento"
                    required
                  >
                  <mat-hint>Formato: dd/mm/yyyy</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
              <div fxLayout="column" fxFlex="800px">
                <mat-form-field class="full-width">
                  <mat-label>Url Imagem:</mat-label>
                  <input type="text" [(ngModel)]="cliente.urlImage" name="urlImage" required matInput placeholder="Ex. https://example.com/image.jpg">
                </mat-form-field>
              </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
              <div fxLayout="column" fxFlex="400px">
                <mat-form-field class="full-width">
                  <mat-label>Estado:</mat-label>
                  <mat-select [(value)]="cliente.estado" name="estado" required (selectionChange)="carregaMunicipiosEvent($event)">
                    <mat-option>Selecione...</mat-option>
                    @for (estado of estados; track $index) {
                      <mat-option [value]="estado.sigla">{{ estado.sigla }} - {{ estado.nome }}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              </div>

              <div fxLayout="column" fxFlex="400px">
                <mat-form-field class="full-width">
                  <mat-label>Municípios:</mat-label>
                  <mat-select [(value)]="cliente.municipio" name="municipio" required>
                    <mat-option>Selecione...</mat-option>
                    @for (municipio of municipios; track $index) {
                    <mat-option [value]="municipio.nome">{{ municipio.nome }}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              </div>

            </div>

          </mat-card-content>
          <mat-card-actions align="end">

                <button color="primary" mat-flat-button type="submit" >
                  @if (atualizando) {
                    <div fxLayout="row" fxLayoutAlign="center center">
                      <mat-icon class="mr-5">update</mat-icon>
                      Atualizar
                    </div>
                  } @else {
                    <div fxLayout="row" fxLayoutAlign="center center">
                      <mat-icon class="mr-5">save</mat-icon>
                      Salvar
                    </div>
                  }
                </button>
                <button color="accent" mat-flat-button class="ml-5">
                  <mat-icon>backspace</mat-icon>
                  Limpar
                </button>
          </mat-card-actions>
        </mat-card>
    </form>
  </div>
</div>
